#PHP supported extensions
AddType application/x-httpd-php .html .htm
# Prevent directory listings
Options All -Indexes

SetEnv HOME D:\xampp\htdocs\test

ErrorDocument 404 http://localhost/test/public/error404.php