@media (max-width: 768px) {
    .modify-address-btn {
        width: 50% !important;
    }

    .modify-btn-container {
        margin-left: 0 !important;
    }
}

.modify-address-btn {
    width: 115px;
}

.address {
    padding-bottom: 10px !important;
    border-bottom: solid #565050 !important;
    border-bottom-width: 1px !important;
    border-radius: 0;
    transition: 1s;
}


