.shopping-cart-btn {
    color: #2a7af5 !important;
}

.favourite-btn {
    color: #2a7af5 !important;
    transition: 1s !important;
}

.account-btn {
    color: #2a7af5 !important;
}

.search-icon {
    color: #2a7af5 !important;
}

.favourite-btn:hover {
    color: red !important;
}

@keyframes favourite-btn-animation {
    0% {
        color: #2a7af5 !important;
    }

    100% {
        color: rgb(243, 0, 0) !important;
    }
}

.cart-dropdown {
    left: -255px;
    top: 56px;
}

.cart-wrapper-price {
    font-size: 1.5rem;
}

.remove-car-item-wrapper {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 2px;
}

.cart-wrapper {
    width: 400px;
    margin: 10px;
    max-height: 320px;
}

.sub-total > p {
    margin-bottom: 0;
}

.sub-total-cent {
    font-size: 1.1rem;
}

.cart-wrapper-product-image {
    width: 80px;
    height: 100px;
    object-fit: contain;
}

.profile-dropdown-menu {
    top: 56px;
}

.dropdown-toggle::after {
    display: none;
}

.profile-dropdown-item {
    background: transparent;
    transition: 0.8s;
}

.profile-dropdown-item:hover {
    background: #faf2f2;
}

.responsive-navbar-cart-badge {
    left: 5px;
    top: -4px;
    margin-left: 17px;
}

.responsive-navbar-item {
    color: #2a7af5;
}

.navbar-search-button {
    background: #2a7af5 !important;
}

.navbar-search {
    border-color: #eeebeb !important;
    box-shadow: none;
    transition: 1s;
    outline: 0px !important;
    -webkit-appearance: none;
}

.navbar-search:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px inset;
}

.navbar-search:focus {
    -webkit-box-shadow: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px inset !important;
}

.dropdown-menu {
    border-radius: 0;
}

.navbar-dropdown-item {
    font-weight: bolder;
}

.card-wrapper-item {
    transition: 1s;
}

.fade-out{
    opacity: 0;
}
