.shopping-cart-btn {
    color: rgb(39, 136, 227) !important;
}

.shopping-cart-btn :hover {
    /* animation-name: shopping-cart-btn-animation;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;

     */
}

.favourite-btn {
    color: rgb(39, 136, 227) !important;
}

.account-btn {
    color: rgb(39, 136, 227) !important;
}

.search-icon {
    color: rgb(39, 136, 227) !important;
}

.favourite-btn :hover {
    animation-name: favourite-btn-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes favourite-btn-animation {
    0% {
        color: rgb(39, 136, 227);
    }

    100% {
        color: rgb(243, 0, 0);
    }
}

@keyframes shopping-cart-btn-animation {
    0% {
        color: rgb(39, 136, 227);
    }

    100% {
        color: rgb(20, 200, 20);
    }
}

.bullet {
    position: relative;
    left: -13px;
    top: -15px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: #000000;
}

.cart-dropdown {
    left: -255px;
    top: 50px;
}

.cart-wrapper-price {
    font-size: 1.5rem;
}

.remove-car-item-wrapper {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 2px;
}

.cart-wrapper {
    width: 400px;
    margin: 10px;
    max-height: 320px;
}

.sub-total > p {
    margin-bottom: 0;
}

.sub-total-cent {
    font-size: 1.1rem;
}

.cart-wrapper-product-image {
    width: 80px;
    height: 100px;
    object-fit: contain;
}

.profile-dropdown {
    top: 50px;
}

.dropdown-toggle::after {
    display: none;
}