.shopping-cart-btn {
    color: rgb(39, 136, 227) !important;
}

.shopping-cart-btn :hover {
    animation-name: shopping-cart-btn-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.favourite-btn {
    color: rgb(39, 136, 227) !important;
}

.account-btn {
    color: rgb(39, 136, 227) !important;
}

.favourite-btn :hover {
    animation-name: favourite-btn-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes favourite-btn-animation {
    0% {
        color: rgb(39, 136, 227);
    }

    100% {
        color: rgb(243, 0, 0);
    }
}

@keyframes shopping-cart-btn-animation {
    0% {
        color: rgb(39, 136, 227);
    }

    100% {
        color: rgb(20, 200, 20);
    }
}