.shopping-cart-btn {
    color: rgb(39, 136, 227) !important;
}

.shopping-cart-btn :hover {
    animation-name: shopping-cart-btn-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.favourite-btn {
    color: rgb(39, 136, 227) !important;
}

.account-btn {
    color: rgb(39, 136, 227) !important;
}

.search-icon {
    color: rgb(39, 136, 227) !important;
}

.favourite-btn :hover {
    animation-name: favourite-btn-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes favourite-btn-animation {
    0% {
        color: rgb(39, 136, 227);
    }

    100% {
        color: rgb(243, 0, 0);
    }
}

@keyframes shopping-cart-btn-animation {
    0% {
        color: rgb(39, 136, 227);
    }

    100% {
        color: rgb(20, 200, 20);
    }
}

.bullet {
    position: relative;
    left: -13px;
    top: -15px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: #000000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.cart-dropdown{
    left: -255px;
    top: 50px;
}