.icon {
    font-size: 1.7em;
}

.pagination-image {
    width: 80px;
}

.img-size {
    height: 450px;
    width: 700px;
    background-size: cover;
    overflow: hidden;
}

.product-card{
    height: 100%;
}